header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: $primary-color;
  box-shadow: 0 4px 10px rgba(255, 230, 109, 0.25);

  h1 {
    font-size: 3rem;
    color:black;
    text-align: center;
    font-family: $title-font;
    font-weight: 400;
    letter-spacing: 3px;
  }

  button#theme-toggle {
    position: absolute;
    right: 3rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}