$primary-color: #4ecdc4;
$secondary-color: #F5A623;
$third-color: #ffe66d;
$background-light: #f7fff7;
$background-dark: #292f36;
$main-font: "Poppins", sans-serif;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
